* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

/**************************************************************
*                  Navbar part disgn                          *
**************************************************************/
.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #0a3c88;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #bc0f0f;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

/**************************************************************
*                  dashbord part disgn                        *
**************************************************************/
.name_workspace{
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: Century Gothic;
  width: 50%;
  margin-left: 25%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.dashbord_parent{
  height: 658px;
  background: #d9dadb; 
}
/************************* part for workspace **************************/
.all_report_of_current_work{
  height: 78%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.workspace,.report{
  width: 260px;
  height: 300px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 0 20px #370432;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.workspace_icon{
  width: 170px;
  height: 160px;
  border-radius: 12px;
  margin-left: 10px;
}
.title_of_workspace{
  width: 210px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Calisto MT;
  cursor: pointer;
}

.show_workspace_data{
  width: 20vw;
}
/************************* part for workspace *************************/
.all_report_of_current_repport{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pbi_icon{
  width: 160px;
  height: 150px;
  border-radius: 12px;
  margin-left: 11px;
}

.report{
  width: 210px;
  height: 260px;
  box-shadow: 0 0 10px #9f8607;
  background: #dddddd;
}

/************************* report part *************************/
.show_report_graphe{
  width: 100%;
  height: 89vh;
}

.reports_name_parent{
  border: none;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.report_name_child{
  width: 19%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-left: 16px;
}

.report_graph{
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.his_function{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-right: 12px;
}
.share_report,.download_report{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
}

.pbi_report_icon{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.graphe_of_embded_report{
  margin-top: 0px;
  width: 80%;
  height: 97%;
}

/**************************************************************
*                  mail part disgn                            *
**************************************************************/
#email_form{
  width: 500px;
}
#parent{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#period-select{
  width: 140px;
}
.period_area , .period_timing{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.time_selection{
  border-radius: 4px;
  width:150px;
  padding: 0 20px;
}
#email_form label{
  font-size: 17px;
  font-family: Century Gothic;
}
#submit_btn,#annuler_btn{
  width: 150px;
  background: #2e651e;
  border: none;
}

#annuler_btn{
  background: #640f0f;
}
#annuler_btn:hover {
  background: #d62525;
}

#submit_btn:hover {
  background: #2f8617;  
}

#btn_valid{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.table_content{
  border: solid black;
  height: 640px;
}

/**************************************************************
*                  table part disgn                           *
**************************************************************/
.table_name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;

}

.table_name label{
  width: 350px;
  height: 90%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: Book Antiqua;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.table_content1{
  height: 500px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.table_content2{
  width: 800px;
}