{% extends "base.html" %}
{% block content %}

<!-- <div class="show_report_graphe" ><br> -->
<div class="dashbord_parent"><br>
    <div class="name_workspace">
        workspace
    </div><br>
    <div class="all_report_of_current_work">
        {% for i in d%}
            <div class="workspace" onclick="location='/dashbord/{{i[1]}}'">

                <div class="workspace_icon">
                    <img class="workspace_icon" src="{{url_for('static',filename='pictures/workspace.png')}}">
                </div>

                <div class="title_of_workspace">
                        {{i[0]}}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}