{% extends "forgot.html" %}

{% block contenu %}

<style>
  .jme3{
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d3d3d3; 
    border-radius: 5px;
  }
  form{
    width: 250px;
  }
  .mmm{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .btn{
    background: rgb(8, 97, 8);
    border: none;
  }
</style>
<label id="notification_show">
  {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
          {% for category,msg in messages %}
              <p class='{{ category }}'>{{ msg }}</p>
          {% endfor %} 
      {% endif %} 
  {% endwith %}
</label>
<div class="jme3">
  <form action="" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email </label>
      <input type="email" name="email_verif" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mmm">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
</div>

{% endblock contenu %}