{% extends "base.html" %}

{% block content %}
<div id="parent">
<form action="" method="POST" id="email_form" class="shadow-lg p-3 mb-5 bg-body rounded" style="height: 300px;">
    
    <!-- <embed src="files/file.pdf" type="application/pdf" width="100%" height="100%" /> -->
    <!-- <iframe src="files/file.pdf" height="100%" width="100%"></iframe> -->
    <!-- <object src="../name.pdf" type="application/pdf" title="SamplePdf" width="500" height="720">
        <a href="../name.pdf">shree</a> 
    </object>  -->

    <div id="my-container" style="height:100%; width:100%;"></div><br>
    <!-- <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Choisis le temps pour envoyer l'email :</label><br>
      <div class="period_timing">
        <input type="time" class="time_selection" name="time_to_send" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    </div><br> -->

    <!-- <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Choisis periode pour envoyer l'email :</label>
      <div class="period_area">
        <input type="text" name="value_for_day" class="form-control" value="2" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:100px; display: flex; text-align: center;">
        <select name="period_day" id="period-select" class="form-select" aria-label="Default select example">
                <option selected value="Day">Day</option>
                <option value="Week">Week</option>
                <option value="Month">Month</option>
                <option value="Year">Year</option>
            </select>
        </div>
    </div><br> -->
    <div class="btns_list" id="btn_valid" style="display:flex;">
      <button type="button"id="annuler_btn" class="btn btn-primary"  onclick="location='/send_mail/define_time'">Retour</button>
      <input type="submit" id="submit_btn" class="btn btn-primary" value="Envoyer">
  </div>
</form>
</div>

<!-- <script src="/js/pdfobject.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.7/pdfobject.min.js" integrity="sha512-g16L6hyoieygYYZrtuzScNFXrrbJo/lj9+1AYsw+0CYYYZ6lx5J3x9Yyzsm+D37/7jMIGh0fDqdvyYkNWbuYuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
// PDFObject.embed("/files/file.pdf", "#example1");
console.log(PDFObject.pdfobjectversion);
var options = {
    height: "400px",
    pdfOpenParams: { view: 'FitV', page: '1' }
};
PDFObject.embed("file.pdf", "#my-container", options); 
</script>

{% endblock content %}