<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='design/style2.css')}}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <script src="{{url_for('static',filename='design/script.js')}}" defer></script>
    <title>Envoyer Rapport</title>
  </head>
  <body>
    <form class="form" action="" method="POST">
      <h1 class="text-center">Send email Form</h1>
      <!-- Progress bar -->
      <div style="display: flex; align-items: center; justify-content: center;">
        <div style="width: 70%;">
            <div class="progressbar">
              <div class="progress" id="progress"></div>
              
              <div
                class="progress-step progress-step-active"
                data-title="team email"
              ></div>
              <div class="progress-step" data-title="time"></div>
            </div>
        </div>
      </div>

      <!-- Steps -->
      <div class="form-step form-step-active">
          <div class="input-group">
            <label for="email">Email address (separete between emails by ' , ' )</label>
            <input name="recieve_adr" type="text" placeholder="reciever mail" id="email" required/>
          </div>

          <div class="input-group">
            <label for="username">Subject</label>
            <input name="subject" type="text" placeholder="subject" id="subject" required/>
          </div>

          <div class="input-group">
            <label for="position">Body</label>
            <div class="form-floating">
              <textarea class="form-control" name="msg" placeholder="Write you're message for you're team" id="floatingTextarea2" style="height: 70%; width: 97%;"></textarea>
            </div>
          </div>
          <div class="btns_list" id="btn_valid" style="display:flex;">
            <!-- <button type="submit" class="btn btn-next width-50 ml-auto">Next</button> -->
            <button type="button"id="annuler_btn" onclick="location='/dashbord'">Annuler</button>
            <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
          </div>
      </div>

      <div class="form-step">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Choisis le temps pour envoyer l'email :</label><br>
            <div class="period_timing">
              <input type="time" class="time_selection" name="time_to_send" >
            </div>
          </div><br>
      
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Choisis periode pour envoyer l'email :</label>
            <div class="period_area">
              <input type="text" name="value_for_day" class="form-control" value="2" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:100px; display: flex; text-align: center;">
              <select name="period_day" id="period-select" class="form-select" aria-label="Default select example">
                      <option selected value="Day">Day</option>
                      <option value="Week">Week</option>
                      <option value="Month">Month</option>
                      <option value="Year">Year</option>
                  </select>
              </div>
          </div><br>

          <div class="btns-group" id="btn_valid" style="display:flex;">
            <button type="button"id="annuler_btn" onclick="location='/dashbord'">Annuler</button>
            <input type="submit" value="Envoyer" class="btn" />
          </div>
      </div>
    </form>
  </body>
</html>
