{% extends "base.html" %}
{% block content %}

<div class="show_report_graphe">
    
    <div class="reports_name_parent">
      <img src="{{url_for('static',filename='pictures/back.svg')}}" class="pbi_report_icon" onclick="location='/dashbord/{{work_space}}'">
        <div class="report_name_child" id='report_listen' >
         <img src="{{url_for('static',filename='pictures/pbi_icon.png')}}" class="pbi_report_icon">
            <label class="form-check-label" class="name_report" for="{{ report_id }}">
              {{ j.name }}.pbix
            </label>
        </div>

        <div class="his_function">
            <div class="share_report">
              <img id="imgg" src="{{url_for('static',filename='pictures/share.svg')}}" onclick="location='/send_mail'">
            </div>
            <div action="" method="post" class="download_report" >
              <img src="{{url_for('static',filename='pictures/download.svg')}}" onclick="console.log('download')">
            </div>
          </div>

      </div><br>

    <div class="report_graph">
      <iframe titre="{{ j.name }}" class='graphe_of_embded_report'src='{{ j.embedUrl }}' frameborder="0" allowFullScreen="true"></iframe>
    </div>
  </div>

  <script>
    let b=document.getElementById("imgg").src
    console.log(b)
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/dashbord/<string:work_id>/<string:report_id>",
      data: JSON.stringify({test:'hello'}),
      success: function (data) {
        // alert("DONE!")
        console.log("daine")
      },
      error: function(err) {
        console.log(err);
      }
      // dataType: "json"
    });
  </script>
{% endblock content %}