{% extends "base.html" %}
{% block content %}

<div class="show_report_graphe">
    
    <div class="reports_name_parent" >
      <img src="{{url_for('static',filename='pictures/back.svg')}}" style="width: 30px; height:30px;" onclick="location='/dashbord/{{work_space}}'">
        <div class="report_name_child" id='report_listen' >
         <img src="{{url_for('static',filename='pictures/pbi_icon.png')}}" class="pbi_report_icon">
            <label class="form-check-label" class="name_report" for="{{work_space}}/{{ report_id }}">
              {{ j.name }}.pbix
            </label>
        </div>

        <div class="his_function">
            <div class="share_report">
              <img id="imgg" src="{{url_for('static',filename='pictures/share.svg')}}" alt="share_icon">
            </div>
            <div class="download_report" >
            </div>
          </div>

    </div><br>
    <div class="report_graph" id="report_frame_for_screen">
      <iframe titre="{{ j.name }}" class='graphe_of_embded_report' src='{{ j.embedUrl }}' frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <!-- <a href="{{ j.embedUrl }}" target="_blank">WordPress Homepage</a> -->
  </div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script>
    //   var doc = new jsPDF();
    //     var specialElementHandlers = {
    //         '#editor': function (element, renderer) {
    //             return true;
    //         }
    //     };

    //     $('#imgg').click(function () {
    //         doc.fromHTML($('.report_graph').html(), 15, 15, {
    //             'width': 768,
    //                 'elementHandlers': specialElementHandlers
    //         });
    //         doc.save('sample-file.pdf');
    //     });
    
    // var hiddenElement = document.createElement('a');
    // hiddenElement.href = 'data:attachment/text,' + encodeURI(document.documentElement.outerHTML);
    // hiddenElement.target = '_blank';
    // hiddenElement.download = 'myFile.txt';
    // hiddenElement.click();

    // function downloadURI(uri, name) {
    //   var link = document.createElement("a");
    //   link.download = name;
    //   link.href = uri;
    //   document.body.appendChild(link);
    //   link.click();
    //   document.body.removeChild(link);
    //   delete link;
    // }
    // // "data:text/html,HelloWorld!"
    // const r=document.querySelector('iframe').src
    // downloadURI(`data:text/html,${r}`, "helloWorld.txt");

    // i will nneeed u later
    var documentWidth = parent.window.innerWidth;
    var documentHeight = parent.window.innerHeight;
    var iframeWidth = window.innerWidth;
    var iframeHeight = window.innerHeight;
    // Get Left Position
    var iframeX = window.parent.document.querySelector('.graphe_of_embded_report').offsetLeft;
    // Get Top Position
    var iframeY = window.parent.document.querySelector('.graphe_of_embded_report').offsetTop;
    console.log(`/dashbord/${document.querySelector('label').htmlFor}`)

    const r=document.querySelector('iframe')
    // const d=r.ownerDocument;
    // console.log(d);

    // var hiddenElement = document.createElement('a');
    // hiddenElement.href = 'data:attachment/text,' + encodeURI(document.documentElement.outerHTML);
    // hiddenElement.target = '_blank';
    // hiddenElement.download = 'myFile.html';
    // hiddenElement.click();


    function GetOwnerWindow(html_node)
      {
        /*
        ownerDocument is cross-browser, 
        but defaultView works on all browsers except Opera/IE that use parentWinow
        */
        return (html_node.ownerDocument.defaultView) ?
            html_node.ownerDocument.defaultView : 
            html_node.ownerDocument.parentWindow;
      }
      var g=GetOwnerWindow(r);
      k=g.document.documentElement;

      function parseURLParams(url) {
        var queryStart = url.indexOf("?") + 1,
            queryEnd   = url.indexOf("#") + 1 || url.length + 1,
            query = url.slice(queryStart, queryEnd - 1),
            pairs = query.replace(/\+/g, " ").split("&"),
            parms = {}, i, n, v, nv;

        if (query === url || query === "") return;

        for (i = 0; i < pairs.length; i++) {
            nv = pairs[i].split("=", 2);
            n = decodeURIComponent(nv[0]);
            v = decodeURIComponent(nv[1]);

            if (!parms.hasOwnProperty(n)) parms[n] = [];
            parms[n].push(nv.length === 2 ? v : null);
        }
        return parms;
    }
    var urlString = r.src;
    var urlParams = parseURLParams(urlString);

    console.log(urlParams);

    const shopId =  new URLSearchParams(r.src);
    console.log(shopId);  

      ////   show information of where you clicked   
    function show_id_orinformation_of_place_clicked(){
        document.addEventListener('click', function xyz(e){
            e.preventDefault();
            //alert(e);
            var target = e.target || event.srcElement;
            var attributes = Array.prototype.slice.call(target.attributes).map(function(i) {
              return [String(i.name)+": "+String(i.value)]
            })
            alert(attributes);
            prompt("xpath1 :",getPathTo(target));
            chrome.runtime.sendMessage({method:"captureElement",data:attributes});   
          },true)
      }

      // function makeHttpObject() {
      //   if("XMLHttpRequest" in window)return new XMLHttpRequest();
      //   else if("ActiveXObject" in window)return new ActiveXObject("Msxml2.XMLHTTP");
      // }

      // var request = makeHttpObject();
      // request.open("GET", '/dashbord/d72eff1f-51d2-4e98-b093-fddce847145d/e9fde765-f95d-424a-b879-f2f0a89c171f', true);
      // request.send(null);
      // request.onreadystatechange = function() {
      //   if (request.readyState == 4)
      //     console.log(request.responseText);
      // };

      

      // const myWindow = window.open();
      // myWindow.document.open();
      // myWindow.document.write(myWindow.window.location=r.src);

      // if(myWindow.document.referrer == "http://127.0.0.1:3000/"){
      //   console.log('am here brother');
      //   console.log(myWindow.document);
      // }
      
      // myWindow.document.close();

      // if (document.referrer == "http://127.0.0.1:3000/" && window.history.length > 1) {
      //       alert("I am page 'B' and opened from page 'A' in a new window");
      // }
      // Create a proxy instance and open the iframe

    

      function httpGett(theUrl)
        {
            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else
            {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    return xmlhttp.responseText;
                }
                else{
                  console.log('sir tqwed')
                }
            }
            xmlhttp.open("GET", theUrl, false );
            xmlhttp.send();    
        }
        // document.write(httpGett("https://app.powerbi.com/reportEmbed?reportId=e9fde765-f95d-424a-b879-f2f0a89c171f&groupId=d72eff1f-51d2-4e98-b093-fddce847145d&w=2&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9XQUJJLVVTLUNFTlRSQUwtQi1QUklNQVJZLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0IiwiZW1iZWRGZWF0dXJlcyI6eyJtb2Rlcm5FbWJlZCI6dHJ1ZSwiYW5ndWxhck9ubHlSZXBvcnRFbWJlZCI6dHJ1ZSwiY2VydGlmaWVkVGVsZW1ldHJ5RW1iZWQiOnRydWUsInVzYWdlTWV0cmljc1ZOZXh0Ijp0cnVlLCJza2lwWm9uZVBhdGNoIjp0cnVlfX0%3d&autoAuth=true&ctid=a23b80fb-03cf-48e7-b7ea-4a9094cff16c"));

      function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }
        
      // console.log('1',httpGet('https://app.powerbi.com/reportEmbed?reportId=e9fde765-f95d-424a-b879-f2f0a89c171f&groupId=d72eff1f-51d2-4e98-b093-fddce847145d&w=2&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9XQUJJLVVTLUNFTlRSQUwtQi1QUklNQVJZLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0IiwiZW1iZWRGZWF0dXJlcyI6eyJtb2Rlcm5FbWJlZCI6dHJ1ZSwiYW5ndWxhck9ubHlSZXBvcnRFbWJlZCI6dHJ1ZSwiY2VydGlmaWVkVGVsZW1ldHJ5RW1iZWQiOnRydWUsInVzYWdlTWV0cmljc1ZOZXh0Ijp0cnVlLCJza2lwWm9uZVBhdGNoIjp0cnVlfX0=&autoAuth=true&ctid=a23b80fb-03cf-48e7-b7ea-4a9094cff16c'))














    document.getElementById('imgg').addEventListener("click", e => {
        fetch(`/dashbord/${document.querySelector('label').htmlFor}`, {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              c_check: String(`${iframeX},${iframeY},${iframeWidth},${iframeHeight}`)
            })
          })
          .then(res => {
            console.log('am here')
            if (!res.ok) {
              throw Error(res.status);
            }

            return res.json();
          })
          .then(({data: {val}}) => {
            alert(val);
            window.location.href = "/send_mail"
          }).catch(err => console.error(err));
      });
  </script>
{% endblock content %}
