{% extends "base.html" %}

{% block content %}

    <div class="show_report_graphe">
      <!-- <iframe title="test2" width="1080" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=20d3b902-6605-4c1a-bcbf-fd5895e69afe&autoAuth=true&ctid=a23b80fb-03cf-48e7-b7ea-4a9094cff16c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWNlbnRyYWwtYi1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe> -->
      <!-- <h2> b3et hamAri</h2><br>
      {% for i in h %}
        <p>{{ i.name }}</p><br>
        <p>{{ i.id }}</p><br>
        <p>{{ i.embedUrl }}</p><br>
        -----------------------------------------
      {% endfor %} -->
      
      <div class="reports_name_parent">
        {% for i in h %}
          <div class="report_name_child" id='report_listen' >
            <!-- <input class="form-check-input" type="radio" name="name_file" value="{{ i.name }}" id="flexCheckDefault"> -->
              <img src="{{url_for('static',filename='pictures/pbi_icon.png')}}" class="pbi_report_icon">
              <label class="form-check-label" class="name_report" for="{{ i.id }}">
                {{ i.name }}
              </label>
          </div>
        {% endfor %}
      </div>

      <div class="functions_for_report">
        <div class="name_of_report_embded">
          test{{ h[0].name }}
        </div>

        <div class="his_function">
          <div class="share_report">
            <img src="{{url_for('static',filename='pictures/share.svg')}}" >
          </div>
          <div class="download_report" >
            <img src="{{url_for('static',filename='pictures/download.svg')}}" onclick="console.log('download')">
          </div>
        </div>
        
      </div>

      <div class="report_graph">
        <!-- <iframe class='graphe_of_embded_report'src='{{ l }}' frameborder="0" allowFullScreen="true"></iframe> -->
        <!-- <h1> Python Fetch Example</h1>
        <p id='embed'>{{embed}}</p><p id='mylog'></p> -->
      
      </div>
    </div>

<script>
  var server_data=document.getElementById('report_listen').innerHTML;
  console.log(server_data)
  const Url='http://127.0.0.1:3000/dashbord'
  $.ajax({
    type: "GET",
    url: Url,
    data: JSON.stringify(server_data),
    contentType: "application/json",
    dataType: 'json',
    success: function(result) {
      console.log("Result:");
      console.log(result);
    } 
  });
 </script>
    <!-- slick slide -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
    <script type="text/javascript">
       
        $('.reports_name_parent').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  infinite: true,
                  dots: true
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }
              // You can unslick at a given breakpoint now by adding:
              // settings: "unslick"
              // instead of a settings object
            ]
          });
          $('div').find('.slick-prev').css('left', '24px;');
          
  </script> -->
    
{% endblock content %}