{% extends "base.html" %}

{% block content %}

    <div class="show_report_graphe">
      <!-- <iframe title="test2" width="1080" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=20d3b902-6605-4c1a-bcbf-fd5895e69afe&autoAuth=true&ctid=a23b80fb-03cf-48e7-b7ea-4a9094cff16c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWNlbnRyYWwtYi1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe> -->
      <h2> b3et hamAri</h2><br>
      {% for i in h %}
        <p>{{ i.name }}</p><br>
        <p>{{ i.id }}</p><br>
        <p>{{ i.embedUrl }}</p><br>
        -----------------------------------------
      {% endfor %}
    </div>
  
{% endblock content %}