{% extends "base.html" %}
{% block content %}

<div class="table_place"><br>
    <div class="table_name">
        <label >le period d'envoie engistrer </label>
    </div>
    <br>
    <div class="table_content1">
        <div class="table_content2">
            <table class="table table-hover" id="tableId" >
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>mm</td>
                    <td>@fat</td>
                </tr>
                
                </tbody>
            </table>
        </div>
    </div>

    <button onclick="takeshot()">
        Take Screenshot
    </button>
    <div id="output"></div>

</div>

<script>
    var table = document.getElementById("tableId");

    table.addEventListener('onclick',addRowHandlers())

    function addRowHandlers() {
        // var table = document.getElementById("tableId");
        var rows = table.getElementsByTagName("tr");
        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler = function(row) {
            return function() {
                var cell = row.getElementsByTagName("td")[0];
                var id = cell.innerHTML;
                alert("id:" + id);
            };
            };
            currentRow.onclick = createClickHandler(currentRow);
        }
    }

    function takeshot() {
            let div =document.getElementById('table_place');
  
            // Use the html2canvas
            // function to take a screenshot
            // and append it
            // to the output div
            html2canvas(div).then(
                function (canvas) {
                    document.getElementById('output').appendChild(canvas);
                })
        }
</script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
{% endblock content %}