{% extends "base.html" %}
{% block content %}

<label id="notification_show2" >
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category,msg in messages %}
                <p class='{{ category }}'>{{ msg }}</p>
            {% endfor %} 
        {% endif %} 
    {% endwith %}
</label>
<br>
<div class="table_place"><br>
    <div class="table_name">
        <label >le period d'envoie engistrer </label>
    </div>
    <br>
    <div class="table_content1">
        <div class="table_content2">
            <table class="table table-hover" id="tableId" >
                <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Emails</th>
                    <th scope="col">Every</th>
                    <th scope="col">AT</th>
                    <th scope="col">Report</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in period_data %}
                        <tr>
                            <td>{{i.emails}}</td>
                            <td>{{i.perids}}</td>
                            <td>{{i.time}}</td>
                            <td>{{i.name_of_reportBI}}</td>
                        </tr>
                    {% endfor %}
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>mm</td>
                    <td>@fat</td>
                </tr>
                 -->
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    var table = document.getElementById("tableId");

    table.addEventListener('onclick',addRowHandlers())

    function addRowHandlers() {
        var rows = table.getElementsByTagName("tr");
        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler = function(row) {
            return function() {
                var cell = row.getElementsByTagName("td")[0];
                var id = cell.innerHTML;
                alert("id:" + id);
            };
            };
            currentRow.onclick = createClickHandler(currentRow);
        }
    }

</script>

{% endblock content %}