{% extends "base.html" %}
{% block content %}

<label id="notification_show2" >
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category,msg in messages %}
                <p class='{{ category }}'>{{ msg }}</p>
            {% endfor %} 
        {% endif %} 
    {% endwith %}
</label>
<br>
<div class="table_place"><br>
    <div class="table_name">
        <label >le period d'envoie engistrer </label>
    </div>
    <br>
    <div class="table_content1">
        <div class="table_content2">
            <table class="table table-hover" id="tableId" >
                <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Emails</th>
                    <th scope="col">Every</th>
                    <th scope="col">AT</th>
                    <th scope="col">Report</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in period_data %}
                        <tr>
                            <td>{{i.emails}}</td>
                            <td>{{i.perids}}</td>
                            <td>{{i.time}}</td>
                            <td>{{i.name_of_reportBI}}</td>
                        </tr>
                    {% endfor %}
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>mm</td>
                    <td>@fat</td>
                </tr>
                 -->
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    var table = document.getElementById("tableId");

    table.addEventListener('onclick',addRowHandlers())

    function addRowHandlers() {
        var rows = table.getElementsByTagName("tr");
        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler = function(row) {
            return function() {
                var cell = row.getElementsByTagName("td")[0];
                var id = cell.innerHTML;
                alert("id:" + id);
            };
            };
            currentRow.onclick = createClickHandler(currentRow);
        }
    }

</script>
<script>
    const puppeteer = require('puppeteer');

    async function scrapeProduct(url) {
        const browser = await puppeteer.launch();
        const page = await browser.newPage();
        await page.goto(url);

        const [el] = await page.$x('/html/body/div[1]/div[2]/div[9]/div[4]/div[3]/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/ul/li[1]/span/span/div/img');
        const src = await el.getProperty('src');
        const imgURL = await src.jsonValue();

        const [el2] = await page.$x('/html/body/div[1]/div[2]/div[9]/div[4]/div[4]/div[1]/div/h1/span');
        const txt = await el2.getProperty('textContent');
        const title = await txt.jsonValue();

        const [el3] = await page.$x('/html/body/div[1]/div[2]/div[9]/div[4]/div[4]/div[10]/div[1]/div/table/tbody/tr[2]/td[2]/span[1]');
        const txt2 = await el3.getProperty('textContent');
        const price = await txt2.jsonValue();

        console.log({
            imgURL,
            title,
            price
        });

        browser.close();
    }

    scrapeProduct('https://www.amazon.com/Business-Microphone-Upgraded-NexiGo-Computer/dp/B08BHX7GYY/?_encoding=UTF8&smid=A1HNC035CZ2MR5&pd_rd_w=GsaOJ&pf_rd_p=45f0d3b0-8ddc-4840-9ac2-c26f2608345f&pf_rd_r=A1TQ15FXBKJH1JWYXXAD&pd_rd_r=82f7f31d-db1c-4831-96a3-bb110b1133f9&pd_rd_wg=urW4C&ref_=pd_gw_unk');
</script>

{% endblock content %}