{% load static %}

<link rel="stylesheet" href="{% static 'blog/css/jquery.steps.css'  %}">
<link rel="stylesheet" href="{% static 'blog/css/jquery.timepicker.css'  %}">
<link rel="stylesheet" href="{% static 'blog/css/app-light.css' %}" id="lightTheme">


  <body class="light ">
      <div class="row align-items-center h-100" style="width: 99%;">
        <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" method="POST">
          {% csrf_token %}
          {% if messages %}
                  {% for message in messages %}
          
                  <div class="alert my-2" style="  padding: 10px;
                  background-color: #f44336;
                  color: white;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';" style=" margin-left: 15px;
                    color: white;
                    font-weight: bold;
                    float: right;
                    cursor: pointer;
                    transition: 0.3s;">&times;</span> 
          
                    <p id='message'> {{message}} </p>
                    
                  </div> 
          
                  {% endfor %}
          {% endif %}
          <div style="display: flex; justify-content: center; align-items: center; height: 15vh;" onclick="location='https://datastory.ma/'">
            <img  src="{% static 'blog/logos/logo.png' %}" style="width: 200px; height: 75px;" alt="DataStory" onclick="location='https://datastory.ma/'">
          </div>
          <h1 class="h6 mb-3">Sign in</h1>
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputEmail" name="username" class="form-control form-control-lg" placeholder="Username" required="" autofocus="">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control form-control-lg" name="password" placeholder="Password" required="">
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login in</button>
          <p class="mt-5 mb-3 text-muted"><span style="color: cornflowerblue;" onclick="location='/steps_for_register_one/'">Register me</span></p>
          <p class="mt-5 mb-3 text-muted">© <span onclick="location='https://datastory.ma/'">DataStory</span> 2022</p>
        </form>
        
    </div>
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static 'blog/js/apps.js' %}"></script>

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>

</html>
</body>