{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<main role="main" class="main-content">
    <legend class="border-bottom mb-4">New Playlist</legend>
    <div id="form_content">
        <div class="col-12 col-lg-10 col-xl-8">
        <form method='POST' action=''>
            {% csrf_token %}
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">title</label>
                    <input type="text" id="firstname" class="form-control" name="title" placeholder="title mn backend" value="{{name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail4">Email Address <span style="color:red;">separete between emails by ' , '</span> </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="You're team emails" name="email">
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCompany5">format</label>
                    <select id="inputState5" class="form-control" name="format_file">
                        <option selected="">PDF File</option>
                        <option>Image</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="inputZip5">Every</label>
                    <input type="text" class="form-control" id="inputZip5" placeholder="" name="every">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState5">Reccurence</label>
                    <select id="inputState5" class="form-control" name="reccur_day">
                        <option selected="">Minutes</option>
                        <option>Day</option>
                        <option>Week</option>
                        <option>Month</option>
                        <option>Years</option>
                    </select>
                </div>
            </div>
            <br><br>
            <div style="display: flex; align-items:center; justify-content:space-evenly;">
                <a class="btn btn-danger" style="color :#fff;" href="{% url 'dashbord-create-report' %}" id="cancel">Back</a>
                <button type="submit" class="btn btn-primary">Create Now</button>
            </div>

        </form>
        </div>
    </div>
</main>

<style>
    #form_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
        
{% endblock content %}
