{% extends "blog/base.html" %}
{% block content %}
{% load static %}

<style>
	.message_valid{
		height: 7vh; 
		font-size: 17px; 
		display:flex; 
		justify-content: center; 
		align-items: center; 
		color: green;
		visibility: visible;
		animation: move 5s;
		-webkit-animation: move 5s infinite;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
	}

	@-webkit-keyframes move{
		0% { opacity: 1; }
		15% { opacity: 0.7; }
		50% { opacity: 0.7; }
		75% { opacity: 0.3; }
		100% { opacity: 0; }
	}

</style>
<main role="main" class="main-content">
	
	{% if messages %}
			{% for message in messages %}
				<div class="message_valid">
					{{ message }}
				</div>
			{% endfor %}
	{% endif %}

    <div class="row">
        <div class="col-md-12">
            <div style="display: flex; align-items:center; justify-content:space-between;">
                <h6 class="mb-3">My Playlists</h6>
                <button class="btn btn-outline-info" type="submit" onclick="location='/playlist/create/select_report/'">Create</button>
            </div><br><br>

          <table class="table table-borderless table-striped">
            <thead>
              <tr role="row">
                <th>ID</th>
                <th>Title</th>
                <th>Format</th>
                <th>Delivery</th>
                <th>Reccurrence</th>
                <th>Date Of Post</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
				{% for i in db %}
				<tr>
					<th scope="col">{{i.id}}</th>
					<td>{{i.title}}</td>
					<td>{{i.format}}</td>
					<td>{{i.delivery}}</td>
					<td>{{i.every}} {{i.reccurence}}</td>
					<td>{{i.date_posted}}</td>
					<td>
					  <div class="dropdown">
						<button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <span class="text-muted sr-only">Action</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right" >
						  <button class="dropdown-item" class="Edit" id="actions_to_do">Edit</button>
						  <button class="dropdown-item" class="Remove" id="actions_to_do2">Remove</button>
						</div>
					  </div>
					</td>
				  </tr>
				{% endfor %}
            </tbody>
          </table>
        </div> 
    </div> 
</main>

<script>
	document.getElementById('actions_to_do').addEventListener("click",e=>{
		$.ajax({
			type : "POST", 
			url: "{% url 'dashbord-playlist' %}",
			data: {
			c_check: String(document.getElementById('actions_to_do').innerHTML),
			csrfmiddlewaretoken: '{{ csrf_token }}',
			dataType: "json",
	
			},
			
			success: function(data){
			alert('send')
			},
	
			failure: function() {
				
			}
	
		});
	});

	document.getElementById('actions_to_do2').addEventListener("click",e=>{
		$.ajax({
			type : "POST", 
			url: "{% url 'dashbord-playlist' %}",
			data: {
			c_check: String(document.getElementById('actions_to_do2').innerHTML),
			csrfmiddlewaretoken: '{{ csrf_token }}',
			dataType: "json",
	
			},
			
			success: function(data){
			alert('send2')
			},
	
			failure: function() {
				
			}
	
		});
	});
    

</script>

{% endblock content %}